*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: "Arial", "Microsoft YaHei", sans-serif;
}

.navbar{
    background-color: aliceblue;
    margin: 0px;
    border: 0px;
    padding:0px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}
.navbar .left{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:5px 5px;
}
.navbar .navlogo{
    font-size: 25px;
    color: rgba(46, 202, 193, 1);
}
.navbar ul{
    border: 0px;
    margin: 0px;
    padding: 0px;
    list-style: none;/*未定义列表无符号*/
    display:flex;
    gap:1px;
}
.navbar .home{
    background-color: rgba(46, 202, 193, 1); 
    border: 0px;
    padding: 0px;
    margin: 0px; 
    line-height: 60px;
    height: 60px; 
    width: 70px;
}
.navbar ul li a{
    padding: 0px;
    color: rgb(57, 66, 80);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 60px;
    margin: 0px 10px;
    transition: 0.3s ease;
}
.navbar ul li:hover{
    background-color: rgba(46, 202, 193, 1);
}
.navbar ul li a:hover{
    color: aliceblue;
}
.main{
    height: 680px;
    background-image:url("./picture/bule\ water.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;/*文字按照队列的方式排列*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slogan{
    font-size: 50px;
    color: aliceblue;
    font-weight: bold;
    margin-bottom: 30px;
}
.main p{
    font-size: 20px;
    margin: 10px;
    color: aliceblue;
}
.main a{
    font-size: 22px;
    font-weight: lighter;
    margin-top: 40px;
    padding: 8px 12px;
    border: 1px grey solid;
    display: flex;
    background-color: aliceblue;
    color: rgb(57, 66, 80);
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: 0.3s ease;
}
.main a:hover{
    color:rgba(46, 202, 193, 1);
}
/* 第二页 */

.sayhi{
    margin: 70px 10px 10px 100px;
    line-height: 70px;
    font-size: 30px;
}
.sayhi h1{
    font-weight: lighter;
    color: rgb(69, 80, 96);
}
.intropage hr{
        border: 0;
        height: 1px;
        width: 1200px;
        margin: auto;
        margin-top: 50px;
        background-image: linear-gradient(to right, rgba(38, 41, 43, 0), rgba(65, 75, 83, 0.75), rgba(38, 41, 43, 0));
    }
.intromain{
    display: flex;
    justify-content:space-between;
}
.introleft{
    margin: auto;
    padding-top: 10px;
}
.intropic{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
}
.introleft ul{
    margin-top:30px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.introtext{
    width: 1000px;
    margin: 50px 10px 50px 0px;
    padding: 0px;

}
.introtext h3{
    line-height: 28px;
    word-spacing: 5px;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 40px;
    font-weight: lighter;
}
.introtext p{
    text-align: end;
    padding-top: 50px;
    margin-right: 50px;
    font-size: 14px;
    color: rgba(69, 80, 96, 0.6);
}

/* 第三页data */
.datapage .header{
text-align: center;
line-height: 40px;
font-size: 20px;
padding: 0;
margin: 0;
}
.datapage .datamain{
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.datapage .datamain .tableau{
    width: 50%;
    margin: 30px 0px 30px 70px;
    padding-left: 20px;
    padding-right: 0px;
}
.datapage .datamain .powerbi{
    width: 50%;
    margin: 30px 70px 30px 0px;
    padding-left: 20px;
    padding-right: 0px;
}
.datapage .datamain .tableau img{
    object-fit: cover;
    width: 500px;
    height: 350px;
    display: block;
    margin: auto;
    padding-top: 50px;
}
.datapage .datamain .powerbi img{
    object-fit:fill;
    width: 500px;
    height: 330px;
    display: block;
    margin: auto;
}
.datapage .datamain .tableau .text{
    padding-top: 30px;
    margin: auto;
    width: 500px;
}
.datapage .datamain .powerbi .text{
    margin: auto;
    width: 500px;
}
.datapage .datamain .tableau .text h2{
    line-height: 50px;
}
.datapage .datamain .powerbi .text h2{
    line-height: 50px;
}
.datapage .datamain .tableau .text p{
    line-height: 40px;
    font-size: 18px;
    font-weight: lighter;
}
.datapage .datamain .powerbi .text p{
    line-height: 40px;
    font-size: 18px;
    font-weight: lighter;
}
.datapage .datamain .powerbi .text h6{
    line-height: 20px;
    font-weight: lighter;
    text-align: end;
    font-size: 14px;
    color: rgba(69, 80, 96, 0.6);
    margin: 0px;
}
/* 第四页产品 */
.prodpage .header{
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.prodpage .prodmain{
    margin: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.prodpage .prodmain .left{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.prodpage .prodmain .right{
    display: flex;
    width: 50%;
    justify-content:end;
    margin-right: 60px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.prodpage .prodmain .left img{
    object-fit: cover;
    width: 200px;
    height: 450px;
    display: block;
    margin: 0;
    padding:0;
    filter: drop-shadow(10px 10px 50px rgba(0,0,0,0.5));   
}
.prodpage .prodmain .right img{
    object-fit: cover;
    width: 200px;
    height: 450px;
    display: block;
    margin: 0px;
    padding: 0px;
    filter: drop-shadow(10px 10px 50px rgba(0,0,0,0.5)); 
}
.prodpage .prodmain .left .text{
    margin: 30px;
    margin-left: 50px;
    line-height: 26px;
}

.prodpage .prodmain .left .text h2{
    line-height: 50px;
}
.prodpage .prodmain .left .text p{
    font-weight: lighter;
}
.prodpage .prodmain .right .text{
    margin: 330px 50px 10px 10px;
    height: min-content;
    align-items: end;
    line-height: 26px;
}
.prodpage .prodmain .right .text h2{
    text-indent: -20px;
    line-height: 50px;
}
.prodpage .prodmain .right .text li{
    font-weight: lighter;
}
/* 第五页设计*/