*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial", "Microsoft YaHei", sans-serif;
}

.navbar{
    background-color: aliceblue;
    padding:10px 15px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.navbar .left{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.navbar .navlogo{
    font-size: 30px;
    color: rgba(46, 202, 193, 1);
}
.navbar ul{
    list-style: none;/*未定义列表无符号*/
    display:flex;
    gap:10px;
    
}